__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

.venv/

app.log
app/app.log

test_on_big_data/


*.log
*.bak
*.swp
*.swo

*.DS_Store
*.idea/
*.vscode/

Dockerfile~
docker-compose.yml~
*.dockerignore

.env
*.key
*.crt
*.pem

*.csv
*.json

!requirements.txt
!docker-compose.yml
!Dockerfile